:root {
    --icon-size: 20px;
    --standard-gap: 10px;
    --standard-padding: 20px;
}


@font-face {
    font-family: Roboto;
    src: url('./fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf') format('truetype'),
   
}

@font-face {
    font-family: Playfair;
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

html {
    font-family: Roboto;
}

header {
    padding: var(--standard-padding);
    display: flex;
    flex-wrap: wrap;
    gap: var(--standard-gap);
    background-color: brown;
    align-items: center;
    justify-content: center;
}

.profile-name,
.about-me,
.my-work,
.project-name,
.contact-me {
    font-family: Playfair;
}

.profile-pic-container {
    position: relative;
}

.profile-name {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    z-index: 3;
    color: white;
    bottom: 12px;
    left: 16px;
}

.profile-pic {
    width: min(50vw, 400px);
    object-fit: cover;
    z-index: 2; 
}

.profile-bio-container {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
    width: 100vw;
}


.icon {
    height: var(--icon-size);
    width: var(--icon-size);
}

section {
    padding: var(--standard-padding);
    background-color:cadetblue;
}

.project-container {
    display: grid;
    gap: calc(var(--standard-gap) * 2);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project {
    background-color: aqua;
    height: 300px;
}

.project-git-link {
    height: var(--icon-size);
    width: var(--icon-size);
}

.project-name {
    font-size: 1rem;
}

.project-img-container {
    height: 200px;
}

.project-contents {
    padding: 8px;
}

.project-link-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}

.contact-icon-only {
    display: flex;
    gap: var(--standard-gap);
}

.footer-img {
    width: min(50vw, 400px);
}

footer {
    display: flex;
    gap: calc(2 * var(--standard-gap));
    justify-content: space-between;
    align-items: center;
    padding: var(--standard-padding);
    background-color: beige;
}

@media (max-width: 600px) { 
    header {
        padding: calc(var(--standard-padding) / 2);
    }

    .profile-bio,
    .about-me {
        margin: 0 auto;
    }

    .profile-pic {
        width: calc(100vw - var(--standard-padding));
        object-fit: cover;
    }

    .footer-left {
        padding: var(--standard-padding);
    }

    .footer-img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    
    footer {
        flex-wrap: wrap;
        padding: 0;
        background-color: beige;
    }
}

@media (min-width: 600px) {
    header {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .profile-pic {
        object-fit: cover;
        z-index: 2
    }
    
    .profile-bio-container {
        margin: 20px 0px 20px -40px;
        padding: calc(var(--standard-padding) * 2);
        background-color: lightgreen;
        align-items: end;
        }
}